<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %> 
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <header>
        <%- include('partials/header'); %> 
    </header>
    <main class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h2 class="pt-5">We have it, you KneadIt!</h2>
            <p class="mt-3">Your one-stop-shop for all the things bread! Browse, add, edit, remove, and rate all our user generated dough. </p>
          </div>
          <div class="col-7">
            <img src="https://images.unsplash.com/photo-1599819055803-717bba43890f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" 
            alt="" 
            class="img-fluid rounded">
          </div>
        </div>
         <hr class="my-4">
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <% for (let i =0; i < recipe.length; i++) { %> 
            <div class="col">
              <div class="card h-100" stlye="width: 20rem;">
                <a href="/bread/<%=recipe[i].id%> ">
                  <div class="ratio ratio-16x9">
                    <img src="<%=recipe[i].img %>" class="card-img-top" alt="...">
                  </div>
                </a>
                <div class="card-body">
                  <h5 class="card-title"><%=recipe[i].name%> </h5>
                  <p class="card-text">Total Time: <%=recipe[i].prepTime+recipe[i].bakeTime%> mins</p>
                </div>
                <div class="text-center">
                  <a href="/bread/<%=recipe[i].id%>"><button type="button" class="btn btn-outline-primary">View This Knead</button></a>
                  <a href="/bread/<%=recipe[i].id%>%>/edit" type="button" class="btn btn-outline-secondary">Edit This Knead</a>
                </div>
              </div>
            </div>
            <% } %> 
          </div>
        </div>
      </div>
    </main>

        

    <%- include('partials/body'); %> 
    <%- include('partials/footer'); %>

</body>
</html>