<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %> 
</head>
<body>
    <header>
        <%- include('partials/header'); %> 
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
                <img src="<%= recipe.img%> " alt="">
                <p><%= recipe.prepTime %> </p>
                <p><%= recipe.bakeTime %> </p>
            <div class="col-md-6"> 
                <p><%= recipe.ingredients %> </p>
                <p><%= recipe.instructions %> </p>
                <p></p>
            </div>
        </div>
    </div>
    <%- include('partials/body'); %>     
</body>
</html>