<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %> 
</head>
<body>
    <header>
        <%- include('partials/header'); %> 
    </header>
    <div class="card-deck">
        <%  for (let i=0; i < recipe.length; i++) {%>
        <div class="card">
            <a href="/<%= recipe[i].id%> "><img class="card-img-top" src="<%=recipe[i].img %>" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title"><%=recipe[i].name %></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <% } %> 
      </div>

</body>
</body>
</html>